---
import '../styles/global.css';

---

<div class="bg-gray-200 w-full min-h-screen flex justify-center items-center">

    <div class="w-60 p-2 bg-white rounded-xl transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
        <img class="h-40 object-cover rounded-xl" src="../../public/img03.jpg" alt="">
        <div class="p-2">
            <h2 class="font-bold text-lg">
                Heading
            </h2>
            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad architecto illo tempora repellat ullam veniam accusantium.</p>
        </div>
    </div>
</div>